<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.qhit.pojo.SysUser" alias="user" />
        <typeAlias type="com.qhit.pojo.MoaCookbook" alias="moacook" />
        <typeAlias type="com.qhit.pojo.MoaWeek" alias="moaweek" />
    </typeAliases>
</configuration>